.candidate-item{
    margin: 2rem 3rem;
}

.candidate-item table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
.candidate-item td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
.candidate-item tr:nth-child(even) {
    background-color: #dddddd;
  }

.btn{
  text-align: center;
}

.btn1{
  display: inline-block;
}