.submit {
    cursor: pointer;
    font: inherit;
    color: white;
    background-color: #9f5ccc;
    border: 1px solid #9f5ccc;
    border-radius: 4px;
    padding: 0.5rem 2.5rem;
  }
  
.submit:hover {
    background-color: #873abb;
    border-color: #873abb;
  }

.submit:disabled,
.submit:disabled:hover,
.submit:disabled:active {
  background-color: #ccc;
  color: #656262;
  border-color: #ccc;
}
  
.toggle {
    margin-top: 1rem;
    background-color: transparent;
    color: #9f5ccc;
    border: none;
    padding: 0.15rem 1.5rem;
  }
  
.toggle:hover {
    background-color: transparent;
    color: #ae82cc;
  }

.actions {
    cursor: pointer;
    color: white;
    margin: 0.1rem;
    background-color: #615966;
    border: 1px solid #615966;
    border-radius: 4px;
    padding: 0.15rem 0.5rem;
}

.close{
    background-color: transparent;
    border: 1px solid white;
    color: white;
    font-weight: bold;
    padding: 0.2rem 0.35rem;
    border-radius: 6px;
    cursor: pointer;
}